footer{
    display: flex;
    background-color: rgb(226, 226, 226);
    color: #09182c;
    padding: 1rem 0rem;
    box-shadow: 3px -10px 10px #2e486d;
    justify-content: center;
    align-items: center;
}

footer > a{
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

footer > a > img{
    width: auto;
    max-height: 1.5rem;
}