nav{
    display: flex;
    background-color: #503d7e;
    color: whitesmoke;
    width: 100%;
    position: fixed;
    box-shadow: 0px 3px 10px #2e486d;
}

.navTitle{
    color: inherit;
    font-size: 24px;
    padding: 0.2rem;
    margin-right: 5em;
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.navOption{
    color: inherit;
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.navOption:hover{
    text-decoration: underline;
}

.active{
    font-weight: bold;
}
